.title{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

li{
    list-style:none;
}


 @media (min-width: 320px) {
    #buscador
    .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}}

#headerInfo{
    background-color: rgb(201, 200, 200);
}

#info{
    cursor: pointer;
    background-color: white;
}

#info:hover{
    background-color: rgb(169, 216, 231);
}