.title{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

li{
    list-style:none;
}


 @media (min-width: 320px) {
    #buscador
    .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}}
